[Desktop Entry]
Categories=Development;IDE;
Exec=rider
GenericName=Fast & powerful, cross platform .NET IDE
Icon=com.jetbrains.Rider
Keywords=development;
Name=Rider
StartupNotify=true
StartupWMClass=rider
Terminal=false
Type=Application
